:root {
    --wild-series-black: #131312;
    --wild-series-white: #F5F5F5;
    --wild-series-blue: #1e54b6;
    --wild-series-yellow: #FCD205;
    --wild-series-red: #e74c3b;
    --wild-series-cream: #F5EFE0;
  }

  $dark: #131312;
  $light: #F5F5F5;
  $primary: #1e54b6;
  $danger: #e74c3b;
  $warning: #FCD205;

//   $custom-colors: (
//   "custom-color": var(--wild-series-blue)
// );

// body {
//     background-color: lightgray;
// }
@import "~bootstrap/scss/bootstrap";

.bg-main-wild-series {
    background-color: var(--wild-series-black);
}

.main-typo-color {
    color: var(--wild-series-cream)
}

// NAVBAR BOOTSTRAP STYLE START
.navbar {
    margin-bottom: 20px;
  }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
//   NAVBAR BOOTSTRAP STYLE END
