<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wild Series - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/FaviconWildSeriesBW(danger-bg).svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


    <body class="bg-light typo-color-dark">
    <header>{% include "layouts/_navbar.html.twig" %}</header>
        {% block body %}{% endblock %}
    </body>
</html>
