<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/FaviconWildSeries(blue-bg).svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>{% include "layouts/_navbar.html.twig" %}</header>

    <body class="bg-main-wild-series main-typo-color">
        {% block body %}{% endblock %}
    </body>
</html>
