{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}


{% block body %}

<img src="{{ asset('build/images/WildSeriesMainLogo-alt.svg') }}" alt="Wild Series Main logo">
<img src="{{ asset('build/images/WildSeriesMobileLogo.svg') }}" alt="Wild Series Mobile logo">

<h1 class="text-center">Toutes les séries</h1>

{% endblock %}